body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    background-color: #f4f6f9;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-color: #03045e;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #0077b6;
}

.logout {
    margin-top: 40px;
    background-color: #d00000;
}

/* Main Content */
.main-content {
    margin-left: 260px;
    padding: 30px;
    width: 100%;
}

.header {
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #03045e;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}