/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass Card */
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    color: white;
}

/* Title */
.card h2 {
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* Input Fields */
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    outline: none;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #03045e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #023e8a;
}

/* Link */
.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

/* Message */
.message {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #ffdddd;
}

/*error*/
.error {
    color: #000000;
    font-size: 12px;
    display: block;
    margin-top: 4px;
}